<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
        /* all: initial; */
        border: solid green;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <h1>Cuentas del usuario : [[idUsuario]] </h1>

    <template is="dom-repeat" items="{{accounts}}">
        <span>IBAN - {{item.IBAN}}</span>
        <span>Saldo - {{item.balance}}</span>
        <br />
    </template>

    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/account/{{idUsuario}}"
      handle-as="json"
      on-response="showData"
    >

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          IBAN: {
            type: String
          }, balance: {
            type: Number
          }, idUsuario: {
            type: String
          }, accounts: {
            type: Array
          }
        };
      }
      showData(data) {
          console.log("En showData en Front");
          console.log(data.detail.response);

          this.IBAN = data.detail.response[0].IBAN;
          this.balance = data.detail.response[0].balance;
          this.idUsuario = data.detail.response[0].idUsuario;
          this.accounts = data.detail.response;

      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
