<!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h2>Soy el emisor</h2>
   <button on-click="sendEvent">No pulsar</button>

 </template>  <script>
   /**
    * @customElement
    * @polymer
    */
   class EmisorEvento extends Polymer.Element {
     static get is() { return 'emisor-evento'; }
     static get properties() {
       return {
       };
     }

     sendEvent(e) {
       console.log("El usuario ha pulsado el botón");
       console.log(e);

       this.dispatchEvent(
                new CustomEvent(
                  "myevent",
                  {
                    "detail" : {
                      "course" : "TechU",
                      "year" : 2018
                  }
                }
               )
             );
                     
     }

   }    window.customElements.define(EmisorEvento.is, EmisorEvento);
 </script>
</dom-module>
